.binary-tree {
    &__container {
        display: flex;
        justify-content: center;

        ul {
            li {
                &::before {
                    border-color: var(--secondary-color);
                }

                &::after {
                    content: '';
                }

                .tf-nc {
                    border-color: var(--secondary-color);

                    &::before, &::after {
                        border-color: var(--secondary-color);
                    }
                }

                &.binary-tree__empty-node {
                    color: var(--tertiary-color);
                }
            }
        }
    }
}
