<section class="binary-tree">
    <h3 class="binary-tree__title">Binary Tree</h3>
    <p class="binary-tree__description">Choose an action</p>

    <div class="binary-tree__container">
        <!-- <div class="tf-tree">
            <ul>
              <li>
                <span class="tf-nc">1</span>
                <ul>
                  <li>
                    <span class="tf-nc">2</span>
                    <ul>
                        <li><span class="tf-nc">2</span></li>
                        <li><span class="tf-nc">3</span></li>
                    </ul>
                  </li>
                  <li><span class="tf-nc">3</span></li>
                </ul>
              </li>
            </ul>
        </div> -->
    </div>
</section>
