<section class="linked-list">
    <section class="linked-list__container">
        <div class="linked-list__item">
            <span class="linked-list__title">HEAD NODE</span>
            <div class="linked-list__head">
                8
            </div>
            <div class="linked-list__body">
                <div class="linked-list__bullet">
                    <div class="linked-list__bullet--core"></div>
                </div>
            </div>
        </div>
        <div class="linked-list__arrow">
            &#10138;
        </div>
        <div class="linked-list__item">
            <div class="linked-list__head">
                34
            </div>
            <div class="linked-list__body">
                <div class="linked-list__bullet">
                    <div class="linked-list__bullet--core"></div>
                </div>
            </div>
        </div>
        <div class="linked-list__arrow">
            &#10138;
        </div>
        <div class="linked-list__item">
            <span class="linked-list__title">TAIL NODE</span>
            <div class="linked-list__head">
                1
            </div>
            <div class="linked-list__body">
                <div class="linked-list__bullet">
                    <div class="linked-list__bullet--core"></div>
                </div>
            </div>
        </div>
        <div class="linked-list__arrow linked-list__arrow--end">
            &#10137;
            <span>NULL</span>
        </div>
    </section>
</section>
