<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= htmlWebpackPlugin.options.title %></title>
        <link rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.2/dist/terminal.min.css" />
    </head>
    <body class="data-structures-playground terminal container">
        <header class="data-structures-playground__header">
            <nav class="terminal-menu"></nav>
        </header>
        <main class="data-structures-playground__main"></main>
        <footer class="data-structures-playground__footer">
            <span>&copy; André Silva 2023</span>
        </footer>
        <script>
            const components = `<%= htmlWebpackPlugin.options.components.toString() %>`.split(',');

            let i = 0;

            for (component of components) {
                const componentEl = document.createElement('section');
                componentEl.setAttribute('id', component);
                document.getElementsByClassName('data-structures-playground__main')[0].appendChild(componentEl);

                const terminalMenu = document.getElementsByClassName('terminal-menu')[0];
                const menu = document.createElement('ul');
                const menuListItem = document.createElement('li');
                const menuItem = document.createElement('a');

                menuItem.setAttribute('class', 'menu-item');
                menuItem.setAttribute('href', '#');
                if (i === 0) {
                    menuItem.setAttribute('class', 'menu-item active');
                    i++;
                }
                menuItem.textContent = `${component.charAt(0).toUpperCase()}${component.slice(1)}`;

                menuListItem.appendChild(menuItem);
                menu.appendChild(menuListItem);
                terminalMenu.appendChild(menu);
            }
        </script>
    </body>
</html>
